**/__pycache__
.vscode
release
debug
ignore
results
scripts/input/*
scripts/processed/*
report/*
src/*.txt

!report/report.pdf
!report/report.tex
!scripts/input/.empty
!scripts/processed/.empty
!scripts/images/.empty
