**/__pycache__
.vscode
release
debug
ignore
scripts/input/*
scripts/processed/*
report/*
src/*.txt

!report/report.pdf
!report/report.tex
!report/refs.bib
!report/images
!scripts/input/.empty
!scripts/processed/.empty
!scripts/images/.empty
